@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.footer {
  background-color: $accent;
  height: 309px;
  width: 100%;

  &__container {
    max-width: 1440px;
  }

  &__links {
    display: flex;
  }

  &__link {
    @include labels;
    color: $text-light;
  }
}
