@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.footer {
  background-color: $accent;
  width: 100%;

  &__container {
    max-width: 1440px;
    padding: 60px 4rem;
    margin: auto;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  &__link {
    @include labels;
    color: $text-light;
  }

  &__socials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-icons {
    display: flex;
  }

  &__icon {
    margin-right: 35px;

    &--zero {
      margin-right: 0px;
    }
  }
}
