@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.suggested {
  width: 100%;
  overflow-x: hidden;

  &__container {
    width: 1312px;
    margin: auto;
    padding: 75px 4rem;
  }

  &__title {
    @include header;
    color: $text;
    margin-bottom: 20px;
  }

  &__card-container {
    width: 100%;
    display: flex;
  }

  &__card {
    width: 360px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 125px;
  }
  &__card-img {
    background-image: url("../../assets/images/big-mac-meal.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 360px;
    width: 360px;
    border-radius: 20px;
    margin-bottom: 18px;
  }

  &__points {
    @include labels;
    background-color: $accent;
    color: $text-light;
    padding: 8px 75px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  &__text {
    @include body-copy;
    color: $text;
  }

  &__btn {
    @include labels;
    @include shadow;
    border: none;
    padding: 24px 14px;
    border-radius: 20px;
    margin-top: 16px;
  }
}
