@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.suggested {
  width: 100%;

  &__container {
    width: 1440px;
    margin: auto;
    padding: 75px 4rem;
  }

  &__title {
    @include header;
    color: $text;
  }

  &__card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 360px;
    height: auto;
    padding: 20px;
  }
  &__card-img {
    @include shadow;
    // background-image: url();
    border-radius: 20px;
  }
}
