@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.secret {
  width: 100%;
  overflow-x: hidden;

  &__container {
    width: 1312px;
    margin: auto;
    padding: 75px 4rem;
  }

  &__title-wrapper {
    display: flex;
    align-items: baseline;
  }

  &__title {
    @include header;
    color: $text;
    margin-bottom: 20px;
    margin-right: 75px;
  }

  &__link {
    @include labels;
    text-decoration: underline;
  }

  &__card-container {
    width: 100%;
    display: flex;
  }

  &__card {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 85px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 255px;
    background: linear-gradient(180deg, $gr-1, $gr-2);
    border-radius: 50%;
    margin-bottom: 18px;
  }

  &__card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-size: cover;
    height: 216px;
    width: 216px;
    border-radius: 50%;
  }

  &__card-img-b {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-size: cover;
    height: 216px;
    width: 216px;
    border-radius: 50%;
  }
  &__card-img-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-size: cover;
    height: 216px;
    width: 216px;
    border-radius: 50%;
  }
  &__card-img-d {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-size: cover;
    height: 216px;
    width: 216px;
    border-radius: 50%;
  }
  &__text {
    @include body-copy;
    color: $text;
  }
}
