@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.redeem {
  width: 100%;
  overflow-x: hidden;

  &__container {
    width: 1312px;
    margin: auto;
    padding: 75px 4rem;
  }

  &__title-wrapper {
    display: flex;
    align-items: baseline;
  }

  &__title {
    @include header;
    color: $text;
    margin-bottom: 20px;
    margin-right: 75px;
  }

  &__link {
    @include labels;
    text-decoration: underline;
  }

  &__card-container {
    width: 100%;
    display: flex;
  }

  &__card {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 85px;
  }
  &__card-img {
    background-image: url("../../assets/images/nuggets.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    border: 18px solid $accent;
    margin-bottom: 18px;
  }
  &__card-img-b {
    background-image: url("../../assets/images/fries.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    border: 18px solid $accent;
    margin-bottom: 18px;
  }
  &__card-img-c {
    background-image: url("../../assets/images/quarterpounder.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    border: 18px solid $accent;
    margin-bottom: 18px;
  }
  &__card-img-d {
    background-image: url("../../assets/images/nuggets.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    border: 18px solid $accent;
    margin-bottom: 18px;
  }
  &__text {
    @include body-copy;
    color: $text;
  }
}
